.img_product{
    /* Rectangle 11 */

box-sizing: border-box;

position: absolute;
width: 566px;
height: 584px;
left: 365px;


background: #F6F6F6;
border: 1px solid #E3E3E3;
border-radius: 9px;

}

.product-img{
    
position: absolute;
width: 462.08px;
height: 510.59px;
border-radius: 9px;
margin-left: 51px;
margin-top: 35px;

}

.price{

position: absolute;
width: 467px;
height: 92px;
left: 958px;


background: #F6F6F6;
border: 1px solid #E3E3E3;
border-radius: 9px;

}
.h1-name{
    /* S.T.A.L.K.E.R */

position: absolute;

font-family: 'Erica One';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height */

color: #707070;
margin-top: 13px;
margin-left: 23px;

}
.h2-name{
    /* Супер якісний мерч сталкеру */

position: absolute;



font-family: 'CantoraOne';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
/* identical to box height */
text-align: center;

color: #1A1A1A;
margin-top: 42px;
margin-left: 23px;

}
.prise-name{
    /* 499.99 */

position:absolute;


font-family: 'Enriqueta';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 48px;

color: #000000;

margin-left: 210px;
margin-top: 5px;

}

.sell-name{

position: absolute;
width: 467px;
height: 139px;
left: 958px;
margin-top: 124px;

background: #F6F6F6;
border: 1px solid #E3E3E3;
border-radius: 9px;

}

.delivery{
    /* Доставка по всій Україні */

position: absolute;

font-family: 'CantoraOne';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
/* identical to box height */
text-align: center;
display: flex;
color: #1A1A1A;
margin-left: 95px;
margin-top: 19px;

}
.buy{
    /* Rectangle 13 */


position: absolute;
width: 425px;
height: 62px;


background: #27C227;
border: 1px solid #E3E3E3;
border-radius: 9px;

margin-top: 70px;
margin-left: 21px;
cursor: pointer;
}
.buy-name{
font-family: 'CantoraOne';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
/* identical to box height */
text-align: center;

color: #FFFFFF;
text-align: center;


}

.buy-img{
position: absolute;
width: 42px;
height: 42px;
margin-top: -33px;
margin-left: -80px;
}

.description{
/* Rounded rectangle */
margin-top: 153px;

position: absolute;
width: 467px;
height: 305px;



background: #F6F6F6;
border: 1px solid #E3E3E3;
border-radius: 9px;

}
@media (max-width: 1440px){
    .product-class{
        max-width:162.08px ;
    }
    .price{
        margin-top: 600px;
        margin-left: -550px;
    }
    .sell-name{
        margin-top: 700px;
        margin-left: -550px;
    }
}
@media (max-width: 900px){
    .img_product{
        margin-left: -250px;
    }
    .price{
        margin-top: 600px;
        margin-left: -800px;
    }
    .sell-name{
        margin-top: 700px;
        margin-left: -800px;
    }
    
}

@media (max-width: 730px){
    .img_product{
        margin-left: -300px;
    }
    .price{
        margin-top: 600px;
        margin-left: -830px;
    }
    .sell-name{
        margin-top: 700px;
        margin-left: -830px;
    }
    
}
@media (max-width: 660px){
    .img_product{
        margin-left: -330px;
    }
    .price{
        margin-top: 600px;
        margin-left: -860px;
    }
    .sell-name{
        margin-top: 700px;
        margin-left: -860px;
    }
    
}
@media (max-width: 640px){
    .img_product{
        margin-left: -320px;
        width: 466px;
        height: 484px;
    }
    .product-img{
        width: 362.08px;
        height: 410.59px;
    }
    .price{
        margin-top: 500px;
        margin-left: -912px;
    }
    .sell-name{
        margin-top: 600px;
        margin-left: -912px;
    }
    
}
@media (max-width: 530px){
    .img_product{
        margin-left: -300px;
        width:366px;
        height: 384px;
    }
    .product-img{
        width: 262.08px;
        height: 310.59px;
    }
    .price{
        margin-top: 400px;
        margin-left: -942px;
    }
    .sell-name{
        margin-top: 500px;
        margin-left: -942px;
    }
}
body.menu-open .product-wrapper {
    display: none;
}
